.bgimage {
    width:100%;
    height:700px;
    /* background: url(''); */
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }